// Here you can add other styles
.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    display: block;
}


// For Calendar
.fc { background-color: white; }
.fc-day-sat { color:blue; }
.fc-day-sun { color:red;  }
